@{
    ViewData["Title"] = "Cadastros";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-secondary" role="button" asp-controller="Cadastros" asp-action="Criar">Adicionar cadastro</a>
    </div>
    <br />

    <h1 class="display 4">Sistema de Cadastros</h1>
</div>  